{
  "presets": [
    ["env", { 
      "targets": { 
        "browsers": ["last 1 chrome version"],
        "node": "current"
      }
    }],
    ["stage-2"], 
    ["react"]
  ],
  "plugins" : [
    ["syntax-dynamic-import"],
    ["babel-plugin-styled-components", {
      "displayName": false
    }]
  ]
}