{
  "presets": [
    ["env", {
      "targets": {
        "browsers": ["last 1 chrome version"],
        "node": "current"
      }
    }],
    ["stage-2"],
    ["react"]
  ],
  "plugins" : [
    ["syntax-dynamic-import"],
    ["babel-plugin-styled-components", {
      "displayName": true,
      "fileName": false,
      "ssr": true
    }]
  ],
  "env": {
    "production": {
      "ignore":[
        "src/service-worker.js",
        "src/setup.js",
        "*.test.js"
      ],
      "plugins" : [
        ["babel-plugin-styled-components", {
          "displayName": false,
          "ssr": true
        }]
      ]
    }
  }
}